{#
 # Demo-nav brand link: Semitexa logo that points at '/'. No params.
 #}
<a class="demo-nav__brand" href="/">
    <span class="demo-nav__title">
        <span class="semitexa-logo" aria-label="Semitexa">Semite<span>xa</span></span>
    </span>
</a>
